<section class=" flex gap-2 mx-auto w-4/6 pt-32">
    <section class="w-full mt-6">
        <app-blog (Delete)="handleDel($event)" (Edit)="handleEdit($event)" (Testers)="handleTest($event)"
                  [blogs]="(blogs$|async)"></app-blog>
    </section>
    <div *ngIf="isLoadings$| async"> Loading</div>
    <div *ngIf="error$| async as error"> {{error}}</div>
    <section class="w-full mt-6 ">
        <form (ngSubmit)="submitValues(form.value)" [formGroup]="form"
              class="bg-white flex flex-col gap-4 w-full p-8 rounded-lg mb-2 ">
            <section class="flex flex-col gap-2">
                <label for="title">Title</label>
                <input class="p-2 border focus-within:outline-0 border-gray-300 rounded-lg" formControlName="title"
                       id="title">
            </section>
            <section class="flex flex-col gap-2">
                <label for="content">Content</label>
                <textarea class="p-2 border focus-within:ring-0 focus-within:border-gray-100 rounded-lg border-gray-300"
                          cols="30" formControlName="content"
                          id="content" rows="10"></textarea>
            </section>
            <div class="w-full">
                <button [disabled]="form.invalid"
                        class="btn-primary w-full text-white p-2 rounded">{{edit ? "Update" : "Save"}}</button>
            </div>
        </form>
    </section>
</section>
<ngx-loading
        [config]="{ backdropBorderRadius: '10px' }"
        [show]="false"
></ngx-loading>
<!--<button (click)="addComment()">Add Comment</button>-->